* {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#header {
	position: relative;
	background-color: #19b2b8;
	padding: 0;
	height: 100px;
	z-index: 1;
}

#logo_header {
	position: relative;
	height: 5vw;
	margin:0px;
}

.titulo {
	text-align: center;
	top: 100px;
	font-family: 'Righteous', cursive;                                        
	color: #ffde59;
	display: inline-block;
	font-size: 3em;
	margin-right: 10vw;
	margin-left: 1vw;
}

.contenido_header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color: #19b2b8;
	width: 100vw;
	box-shadow: 0px 2px 10px 1px darkslategrey;
}

.header__a {
	text-align: center;
	color: #19b2b8;
	margin-right: 5vw;
	font-family: 'Montserrat', sans-serif;
}