/* AUTOR: Lucas Tejeria (307630)*/

* {
	font-family: Arial;
	scroll-behavior: smooth;
}

a {
	cursor: pointer;
}

h4 {
	font-size: 15px;
}

p , label {
	font-size: 13px;
}

body {
	background-color: #b0c858;
}

body, head {
	padding: 0;
	margin: 0;
}

body {
	margin-left: 4px;
}

article h3{
	margin:0;
}

nav {
	display: flex;
	padding: 10px;
	align-items: center;
	margin: 10px;
}

nav a {
	margin: 0px 20px 0px 20px;
	color: #067c00;
}

#buscador {
	margin-left: 20px;
	width: 180px;
}

#nav__logo {
	margin-left: 20px;
	margin-right: 20px;
	width: 60px;
}

#lupa-busqueda {
	width: 20px;
	margin-left: 10px;
}

#introduccion {
	background-color: #ff9f79;
}

.estudiante {
	display: flex;
	align-items: center;
	margin: 10px;
}

.estudiante img {
	width: 25px;
	margin-right: 10px;
	border: solid 1px #98f897;
	padding: 3px;
	border-radius: 3px;
}

.reclamo {
	text-align: center;
	margin-top: 20px;
	height: 50px;
}

#introduccion__reclamo {
	cursor: pointer;
	font-size: 20px;
	padding: 15px;
	text-decoration: none;
	border-radius: 15px;
	border: solid 1.5px black;
	background: linear-gradient(to bottom, #b0c54e, #c1784f);
}

#agregar-reclamo {
	background-color: #c39c51;
}

.agregar-reclamo__formulario {
	display: flex;
}


.agregar-reclamo__formulario label {
	display: block;
	width: 120px;
}

#agregar-reclamo__boton {
	margin-top: 5px;
	margin-left: 120px;
}

#reclamos-ingresados {
	margin-top: 15px;
	background-color: #c17751;
}

.reclamos-ingresados__reclamo {
	display: flex;
	justify-content: center;
}

.reclamos-ingresados__contenido {
	padding-bottom: 20px;
	margin-bottom: 20px;
	width: 80vw;
	height: fit-content;
	border: black solid 2px;
	border-radius: 15px;
	background-color: white;
}

.reclamos-ingresados__contenido p {
	font-size: 14px;
}

.reclamos-ingresados__contenido button{
	font-size: 12px;
}

.contenido-reclamos {
	margin-left: 20%;
}

.me-paso p {
	margin-left: 10px;
}

.me-paso {
	display: flex;
	align-items: center;
	height: 20px;
}

.fondo-naranja {
	background-color: #f3a585;
}

.fondo-verde {
	background-color: #37cc31;
}

#estadisticas {
	margin-top: 15px;
	background-color: #c29d51;
}

.estadisticas__div-caja {
	display: flex;
	justify-content: center;
}

.estadisticas__tabla {
	border-radius: 15px;
	background-color: white;
	border: black solid 2px;
	width: 80%;
}

.estadisticas__tabla td, th {
	padding: 5px 80px 5px 80px;
	border: black solid 2px;
}

.estadisticas__tabla tr th {
	font-weight: bold;
}

.estadisticas__tabla tr {
	text-align: center;
}

.estadisticas-opciones {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

#AT {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}


#agregar-empresa {
	background-color: #98f897;
}

.agregar-empresa__formulario {
	display: flex;
}

.agregar-empresa__formulario label {
	display: block;
	width: 120px;
}

#agregar-empresa__boton {
	margin-left: 120px;
}