* {
	font-family: Arial;
}

body {
	background-color: #b0c858;
}

body, head {
	padding: 0;
}

body {
	margin-left: 4px;
}

article h3{
	margin:0;
}

header {
	display: flex;
	padding: 10px;
	align-items: center;
	margin: 10px;
}

header a {
	margin: 0px 20px 0px 20px;
}

#header__logo {
	margin-left: 20px;
	width: 50px;
}

header button {
	margin-left: 10px;
}
#lupa-busqueda {
	width: 20px;
}

#introduccion {
	background-color: #ff9f79;
}

.estudiante {
	display: flex;
	align-items: center;
	margin: 10px;
}

.estudiante img {
	width: 25px;
	margin-right: 10px;
}

.reclamo {
	text-align: center;
	margin-top: 20px;
	height: 50px;
}

#introduccion__reclamo {
	padding: 10px;
	text-decoration: none;
	border-radius: 15px;
	border: solid 1px black;
	background: linear-gradient(to bottom, #b0c54e, #c1784f);
}

#agregar-reclamo {
	background-color: #c39c51;
}

.agregar-reclamo__formulario {
	display: flex;
}


.agregar-reclamo__formulario label {
	display: block;
	width: 120px;
}

#agregar-reclamo__boton {
	margin-top: 5px;
	margin-left: 120px;
}

#reclamos-ingresados {
	margin-top: 15px;
	background-color: #c17751;
}

.reclamos-ingresados__reclamo {
	display: flex;
	justify-content: center;
}

.reclamos-ingresados__contenido {
	margin-bottom: 20px;
	width: 80vw;
	height: 140px;
	border: black solid 2px;
	border-radius: 15px;
	background-color: white;
}

#estadisticas {
	margin-top: 15px;
	background-color: #c29d51;
}

.estadisticas__div-caja {
	display: flex;
	justify-content: center;
}

.estadisticas__tabla {
	border: black solid 1.5px;
}

.estadisticas__tabla td, th {
	padding: 5px 80px 5px 80px;
	border: black solid 1.5px;
}

.estadisticas__tabla tr th {
	font-weight: bold;
}

.estadisticas__tabla tr {
	text-align: center;
}

.agregar-empresa {
	background-color: #98f897;
}

.agregar-empresa__formulario {
	display: flex;
}

.agregar-empresa__formulario label {
	display: block;
	width: 120px;
}

#agregar-empresa__boton {
	margin-left: 120px;
}